*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	font-family: 'Roboto', san-serif;
}

*body {
	position: relative;
}

html {
	scroll-behavior: smooth;
}

#main{
	padding-right: 0;
	padding-left: 0;
}
/*end of general*/

.navbar{
	/*background-color: #303030;*/
	background-color: #242424;
	font-family: 'Oxanium', san-serif;
	position: fixed;
	padding: 10px;
	height: 7.5vh;
	width: 100%;
	z-index: 1000;
}

.navbar-nav {
	text-align: center;
}


.nav-item,
.nav-link{
	font-family: 'Oxanium', san-serif;
	color: #e0e0e0;
	background-color: #242424;
}

.headerlogo{
	width: 100px;
}


/*end of nav*/

.sidenav{
	background-color: #242424;
	position: fixed;
	width: 30px;
	height: 110px;
	margin-top: 40vh;
	border: 2px;
	border-radius: 0 5px 5px 0;
	z-index: 999;
}

.container-fluid {
	height: 320vh;
}

.fab{
	color: white;
	font-size: 25px;
	padding: 3px;
	padding-top: 7px;
}
/*end of side nav*/
#home {
	margin: 0;
}

.section {
	padding-top: 7vh;
	height: 100vh;
}

.home {
	background-image: url(../images/moremore.jpg); /*backgroundphotoold.jpg*/ /*landingpagebackground.jpg*/
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Oxanium', san-serif;
	text-align: justify;
}

.catchyline{
	padding-top: 10vh;
	font-size: 32px;
	font-family: 'Oxanium', san-serif;
}

.catchyline2{
	padding-top: 10vh;
	font-size: 32px;
	font-family: 'Oxanium', san-serif;
	display: none;
}
.catchyline3{
	font-family: 'Oxanium', san-serif;
	display: none;
}

.catchysentence1 {
	font-size: 60px;
	font-family: 'Oxanium', san-serif;
	color: #5e5e5e;
}

.catchysentence2 {
	font-size: 20px;
	font-family: 'Oxanium', san-serif;
	color: #5e5e5e;
}


/*end of home*/
#aboutus {
	height: 120vh;
	background-color: #ff9700;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23cd7900' fill-opacity='0.26'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");
	padding: 60px, 20px, 20px, 20px;
}

#ourproducts {
	background-color: #eeeeee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23a9a9a9'/%3E%3Cstop offset='1' stop-color='%23eeeeee'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23cccccc'/%3E%3Cstop offset='1' stop-color='%23eeeeee'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}


#aboutheader {
	font-family: 'Oxanium', san-serif;
	font-size: 50px;
	height: 70px;
	background-color: #eeeeee;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='200' viewBox='0 0 160 80'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.63'%3E%3Cpolygon points='0 10 0 0 10 0'/%3E%3Cpolygon points='0 40 0 30 10 30'/%3E%3Cpolygon points='0 30 0 20 10 20'/%3E%3Cpolygon points='0 70 0 60 10 60'/%3E%3Cpolygon points='0 80 0 70 10 70'/%3E%3Cpolygon points='50 80 50 70 60 70'/%3E%3Cpolygon points='10 20 10 10 20 10'/%3E%3Cpolygon points='10 40 10 30 20 30'/%3E%3Cpolygon points='20 10 20 0 30 0'/%3E%3Cpolygon points='10 10 10 0 20 0'/%3E%3Cpolygon points='30 20 30 10 40 10'/%3E%3Cpolygon points='20 20 20 40 40 20'/%3E%3Cpolygon points='40 10 40 0 50 0'/%3E%3Cpolygon points='40 20 40 10 50 10'/%3E%3Cpolygon points='40 40 40 30 50 30'/%3E%3Cpolygon points='30 40 30 30 40 30'/%3E%3Cpolygon points='40 60 40 50 50 50'/%3E%3Cpolygon points='50 30 50 20 60 20'/%3E%3Cpolygon points='40 60 40 80 60 60'/%3E%3Cpolygon points='50 40 50 60 70 40'/%3E%3Cpolygon points='60 0 60 20 80 0'/%3E%3Cpolygon points='70 30 70 20 80 20'/%3E%3Cpolygon points='70 40 70 30 80 30'/%3E%3Cpolygon points='60 60 60 80 80 60'/%3E%3Cpolygon points='80 10 80 0 90 0'/%3E%3Cpolygon points='70 40 70 60 90 40'/%3E%3Cpolygon points='80 60 80 50 90 50'/%3E%3Cpolygon points='60 30 60 20 70 20'/%3E%3Cpolygon points='80 70 80 80 90 80 100 70'/%3E%3Cpolygon points='80 10 80 40 110 10'/%3E%3Cpolygon points='110 40 110 30 120 30'/%3E%3Cpolygon points='90 40 90 70 120 40'/%3E%3Cpolygon points='10 50 10 80 40 50'/%3E%3Cpolygon points='110 60 110 50 120 50'/%3E%3Cpolygon points='100 60 100 80 120 60'/%3E%3Cpolygon points='110 0 110 20 130 0'/%3E%3Cpolygon points='120 30 120 20 130 20'/%3E%3Cpolygon points='130 10 130 0 140 0'/%3E%3Cpolygon points='130 30 130 20 140 20'/%3E%3Cpolygon points='120 40 120 30 130 30'/%3E%3Cpolygon points='130 50 130 40 140 40'/%3E%3Cpolygon points='120 50 120 70 140 50'/%3E%3Cpolygon points='110 70 110 80 130 80 140 70'/%3E%3Cpolygon points='140 10 140 0 150 0'/%3E%3Cpolygon points='140 20 140 10 150 10'/%3E%3Cpolygon points='140 40 140 30 150 30'/%3E%3Cpolygon points='140 50 140 40 150 40'/%3E%3Cpolygon points='140 70 140 60 150 60'/%3E%3Cpolygon points='150 20 150 40 160 30 160 20'/%3E%3Cpolygon points='150 60 150 50 160 50'/%3E%3Cpolygon points='140 70 140 80 150 80 160 70'/%3E%3C/g%3E%3C/svg%3E");;
	padding-bottom: 20px;
	border-bottom: 1px double black;
}



.companyhistory,
.whoweare {
	background-color: #ECECEC;
	border-radius: 5px;
	margin: 40px;
	padding: 0;
	box-shadow: 2px 4px 18px #242424;
}

.about-title-content {
	margin: 10px;
	margin-left: 15px
}	

.about-title {
	font-size: 25px;
}

.about-content {
	text-align: justify;
}

.abouthr {
	background-color: #0A0A0A;
	height: 2px;
	z-index: 100;
	display: block;
	
}

.jumbotron {
	border-radius: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	z-index: 1;
}

.aboutlogo {
	width: 100%;
	border-radius: 5px;
	
	
}
/*end of Aboutus*/


#accordion {
	display:none;
}

.s1{
	height: 8vh;
}

.s2,
.s3 {
	height: 5vh;
}

.procol{
	height: 35vh;
}


		/*flipcard code general*/
		.maincontainer{
			position: relative;
			padding: 0;
		}

		.card{
			position: absolute;
			height: 100%;
			width: 100%;
			transform-style: preserve-3d;
			transition: all .75s ease;
			
		}

		.card:hover {
			transform: rotateY(180deg);

		}

		.procol1,
		.procol2,
		.procol3,
		.procol4,
		.procol5,
		.procol6,
		.procol7,
		.procol8{
			position: absolute;
			height: 100%;
			width: 100%;
			backface-visibility: hidden;
			}

		.back {
			position: absolute;
			height: 100%;
			width: 100%;
			backface-visibility: hidden;
			background-color: #ffffff;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23ffffff' stroke-width='0.41' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cuse fill='%23fafafa' href='%23s' y='2'/%3E%3Cuse fill='%23fafafa' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23f5f5f5' href='%23s'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='2'/%3E%3Cuse fill='%23f0f0f0' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ebebeb'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23e5e5e5'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23ffffff'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%23e0e0e0'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='scale(10) translate(-900 -675)'%3E%3Cg fill='%23F60'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
			background-attachment: fixed;
			background-size: cover;
			transform: rotateY(180deg);
			text-align: center;
			padding: 20px;

		}
		/*flipcard code general END*/

#ourproduct {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/potentialbackground.jpg);
/*	backface-visibility: 50%;
*/
}

.ourproducts {
	margin-bottom: 5vh;
	margin-top: 5vh;
}

.ourproducts2 ul,
.ourproducts ul {
	list-style-type: square;
	list-style-position: inside;
	text-align: left;
	padding-left: 20px;
	
}

.ourproducts2 h3,
.ourproducts h3 {
	font-family: 'Oxanium', san-serif;
	font-weight: bold;

}

.procol1{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../images/product1.jpg);
	background-size: cover;
}

.procol2{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product2.jpg);
	background-size: cover;
}

.procol3{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product3.png);
	background-size: cover;
}

.procol4{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product4.jpg);
	background-size: cover;
}

.procol5{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product5.png);
	background-size: cover;
}

.procol6{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product6.jpg);
	background-size: cover;
}

.procol7{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product7.jpg);
	background-size: cover;
}

.procol8{
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../images/product8.jpg);
	background-size: cover;
}

.procol11{
	height: 35vh;
	display: none;
}

.back h3{
	font-size: 25px;
}

.protitle {
	font-family: 'Oxanium', san-serif;
	font-size: 40px;
	padding-top: 10px;

}
.prohead {
	font-family: 'Oxanium', san-serif;
	margin-top: 10vh;
	font-size: 225%;
 	-webkit-text-fill-color: #0A0A0A; /* Will override color (regardless of order) */
  	-webkit-text-stroke-width: 1.5px;
  	-webkit-text-stroke-color: #FF9700;
  	font-weight: bolder;
  	text-shadow: 0 0 5px lightgrey;


}

.procol1:hover {
	background: none;
}

.procol1:hover h2{
	display: none;
}

.procol1:hover #procol1 .procol11{
	display: block;

}



/*end of our products*/



.copyright {
	background-color: #242424;
	width: 100%;
	height: 5vh;
	font-family: 'Roboto', san-serif;
	text-align: center;
}


.copyright a {
	color: #8c8c8c;
	font-size: 13px;
	font-family: 'Roboto', san-serif;
	text-align: center;
	line-height: 5vh;
}
/*end of footer*/




/* media queries */

/*this is for mobile styling*/
@media only screen and (max-width: 400px) {

.sidenav{
	display: none;
	}

.catchyline{
	padding-top: 10vh;
	font-size: 32px;
	font-family: 'Oxanium', san-serif;
	display: none;
}

.catchyline2{
	padding-top: 10vh;
	font-size: 80px;
	font-family: 'Oxanium', san-serif;
	display: block;
}

.catchyline3{
	font-family: 'Oxanium', san-serif;
	opacity: 75%;
	display: block;
}

.catchysentence1 {
	font-size: 30px;
	font-family: 'Oxanium', san-serif;
	color: #5e5e5e;
	}

.navbar-toggler-icon {
	color: white;
	}
/*end of home CCS*/

#aboutus{
	height: 170vh;
	margin: 0;
}


.companyhistory,
.whoweare {
	background-color: #ECECEC;
	border-radius: 5px;
	margin: 10px;
	padding: 0;
	box-shadow: 2px 4px 18px #242424;
}

.whoweare{
	margin-top: 30px;
}

#aboutheader{
	font-size: 30px;
	text-align: center;
	height: 40px;
	padding: 5px
	padding-bottom: 10px;

}

.about-title {
	font-size: 20px;
	font-weight: bold;
	}

/* end about us css*/
#accordion {
	display:block;
	align-items: center;
}

#main {
	height: 365vh;
}
#ourproducts {
	height: 100vh;
}

.drop {
	padding: 10px;
	margin-bottom: 10px;
	border: 2px solid black;
	box-shadow: 2px 2px 5px black;
	width: 100%;
}

.drop-link{
	color: black;
	text-decoration: none;
}
.drop a {
	text-decoration: none;
	color: black;
}

.drop-body ul {
	list-style-type: square;
	list-style-position: inside;
	text-align: left;
	padding-left: 20px;
	font-size: 15px;
	/*border: 2px dashed #ff5200b3;*/
}

.drop-body h3 {
	list-style-type: square;
	list-style-position: inside;
	text-align: left;
	padding-left: 20px;
	margin: 5px 0 5px 0;
	font-size: 15px;
	font-weight: bolder;
	/*border: 2px dashed #ff3b00;*/
}

.drop-body hr {
	border: 1px dashed #363636;
	margin: 0;
}

.drop-body {
	border: 1.5px solid #363636;
}


.ourproducts,
.ourproducts2 {
	margin: 0;
}

.procol,
.procol1,
.procol2,
.procol3,
.procol4,
.procol5,
.procol6,
.procol7,
.procol8,
.back{
	display: none;
	}

.ourproducts{
	margin-top: 50px;
}

.procol {
	margin: 15px;
	height: 5vh;
}

.card:hover {
	transform: none;

	}	
}




/* tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

.sidenav{
	display: none;
	}

/* end nav css*/
#aboutus{
	height: 170vh;
	}

.catchyline{
	font-size: 50px;
	}

.catchysentence1 {
	font-size: 70px;
	}

.catchysentence2 {
	font-size: 25px;
	}
/*end home and about us css*/

#main {
	height: 450vh;
}
#ourproducts {
	height: 180vh;
}

.ourproducts,
.ourproducts2 {
	margin: 0;
}

.procol {
	margin: 25px;
}

.procol1{background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url(../images/product1.jpg);	background-size: cover;}
.procol2{background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(../images/product2.jpg);	background-size: cover;}
.procol3{background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(../images/product3.png);	background-size: cover;}
.procol4{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url(../images/product4.jpg);	background-size: cover;}
.procol5{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url(../images/product5.png);	background-size: cover;}
.procol6{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url(../images/product6.jpg);	background-size: cover;}
.procol7{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url(../images/product7.jpg);	background-size: cover;}
.procol8{background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),url(../images/product8.jpg);	background-size: cover;}

/*end our product css*/