*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	font-family: 'Roboto', sanserif;
}

.container-fluid {
	height: 100vh;
	background-image: url(../images/hihe.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	background-image: url(../images/hihe.png);
}



/*.v-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-40%,-50%);
	width: 100%;
*/
/*}*/

.propprior{
	animation-duration: 2s;
	animation-delay: .5s;
}


.prop {
	max-width: 100%;
	margin-bottom: 20px;
	animation: hinge 2s;
	animation-delay: 5s;
	animation-fill-mode: forwards;
}

.header {
	background-color: rgba(223, 230, 233, .9); 
	text-align: center;
	margin-bottom: 100px;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 1.5px 1.5px rgba(45, 52, 54,.5);
	animation-duration: 2s;
	animation-delay: .5s;

}

.h1 {
	font-size: 80px;
	font-family: 'Oxanium', sanserif;
	color: #1a1919;
}

p {
	color: rgba(45, 52, 54, .9);
}

hr{
	border-top: 5px solid rgba(211, 84, 0,1.0);
	width: 55%;
	margin: 0 auto;
	margin-bottom: 10px;
}

.h1sm,
.p1sm {
	display: none;
}
.maincolumn {
	background-color: #dfe6e9;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 2px 2px rgba(45, 52, 54,.5);
	animation-duration: 1.5s;
	animation-delay: 1s;
}

.form-control {
	display: inline;
	width: auto;
	border: none;
	padding: 6px 12px;
	margin-bottom: 5px;
}

.btn {
	box-shadow: 1.5px 1.5px rgba(45, 52, 54, .7);
	background-color: #dfe6e9;
	padding: 10px;
}

.button-link {
	text-decoration: none;
	color: rgba(45, 52, 54,.8);
}

.label {
	display: inline;
}

.figure {
	height: 30%;
	width: 50%;
	background-color: black;
	opacity: 1;
	position: absolute;
	align-items: center;
	color: white
}


/* media queries */

/*this is for mobile styling*/
@media only screen and (max-width: 400px) {

	.h1sm,
	.p1sm {
		display: block;

	}

	.h1l,
	.p1l {
		display: none;
	}

	.h1 {
		font-size: 60px;
	}

	.v-center {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-55%);
		width: 100%;
	}

	.maincolumn {
		background-color: transparent;
		padding: 10px;
		border-radius: 0;
		box-shadow: none;
		
	}

	.form-control {
		display: block;
		width: 100%;
	}

	.subcontainer {
		padding-top: 15%;
	}

}

/* tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.subcontainer {
		padding-top: 15%;
	}

	.h1 {
		font-size: 50px;
	}

	.form-control {
		display: block;
		width: 100%;
	}


}




