*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
	font-family: 'Roboto', san-serif;
}
/*end of general*/

.navbar{
	/*background-color: #303030;*/
	background-color: #242424;
	font-family: 'Oxanium', san-serif;
	position: fixed;
	padding: 10px;
	height: 7.5vh;
	width: 100%;
	z-index: 1000;
}

.navbar-nav {
	text-align: center;
}
.nav-item,
.nav-link{
	font-family: 'Oxanium', san-serif;
	color: #e0e0e0;
	background-color: #242424;
}


.headerlogo{
	width: 100px;
}


/*end of nav*/

.fab {
	color: black;
}

.container {
	background-image: url(../images/backgroundphoto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 7.5vh;
	height: 95vh;
}


.section {
	padding-top: 7vh;
	height: 100vh;
}


.contactus {
	background-color: 
}

.contactheader{
	font-family: 'Oxanium', san-serif;
}

#btn {
	color: #242424;
	border: 1px solid #242424;
}

.googlemap{
	margin: 0;
}

.gmap{
	width: 100%;
	height: 400px;
	padding: 0;
}

.copyright {
	background-color: #242424;
	width: 100%;
	height: 5vh;
	font-family: 'Roboto', san-serif;
	text-align: center;
}

.footertext {
	color: #8a8787;
	line-height: 5vh;
	font-size: 13px;
}

.contactinfo {
	padding: 0;
	margin: 0;
	font-family: 'Roboto', san-serif;
	font-size: 13px;
	text-shadow: 1px 1px 10px white;

}

#btn:hover {
	background-color: grey;
	animation: shake;
	animation-duration: 2s;

}

.form-control:focus {
	border-color: grey;
	}




/* media queries */

/*this is for mobile styling*/
@media only screen and (max-width: 400px) {
	.sidenav{
		display: none;
		}

	.contactcol {
		margin-bottom: 50px;
		}

	#container {
		height: 100%;
		}

	.gmap {
		padding-top: 0;
		margin-top: 0;
		height: 300px;
		}

	.btn {
		padding-bottom: 10px;
		margin-bottom: 10px;
		}

}
/* tablet styling*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.contactcol {
		margin-bottom: 50px;
		}

	.container{
		height: 100%;
		}

	.googlemap{
		padding-top: 15px;
		}

	.gmap{
		padding-top: 0;
		margin-top: 0;
		}

}